*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

.section-b {
    position: relative;
    background: url('../img/section-b.jpg') no-repeat bottom center/cover;
    height: 600px;
}

.section-b-inner{
    color: red;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 5rem 0;
    max-width: 860px;
}

.section-b-inner h3{
    font-size: 2rem;
}

.section-b-inner h2{
    font-size: 5rem;
}

.section-b-inner p{
    font-size: 1.5rem;
    margin-top: 1rem;
}